@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&family=Rock+Salt&display=swap');

body {
    font-family: 'Noto Sans Display', sans-serif;
    background-color:#F8FAF1;
}

.nav-bar-green {
    background-color: #768b45;
    box-shadow: 0px 2px 5px #768b45;
}

.navbar-brand {
    font-family: 'Rock Salt', sans-serif;
    color: #fff;
}

.navbar-brand:hover {
    color: #263B00;
}

.nav-link {
    font-family: 'Noto Sans Display', sans-serif;
    color: #fff;
}

.nav-link:hover {
    font-family: 'Noto Sans Display', sans-serif;
    color: #fff;
}

.text-white {
    color: #fff;
}

/* Code snippet for .grow taken from travis.media */
/* https://travis.media/how-to-make-an-item-grow-on-hover-with-css/ */
.grow { 
    transition: all .3s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.2); 
}

.search-button {
    color: #fff;
    border-color: #fff;
}

.search-button:hover {
    color: #fff;
    border-color: #fff;
    background-color: #263B00;
}

hr {
    border: 1px solid #263B00;
}

/* Code recycled from the Bootstrap Module
on the Code Institute Full Stack Developer Course */
#main-image {
    height: 70vh;
    background: url('https://res.cloudinary.com/bubblecloud/image/upload/v1653338558/vegan-food_kloyxy.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* @media screen and (max-width: 500px){
    #main-image {
        height: 40vh;
    }
} */

@media screen and (max-width: 950px){
    #main-image {
        height: 40vh;
    }
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.text-on-top {
    z-index: 100;
}

.page-title, .slogan {
    font-family: 'Rock Salt', sans-serif;
}

.page-title {
    font-size: 7.5vw;
}

.title {
    color: #263B00;
    padding-top: 10px;
}

.slogan {
    font-size: 1.8vw;
}

.info-text {
    font-size: 1.5vw;
}

.header-text p {
    font-size: 1.4em;
}

.text-white {
    color: #fff;
}

.recipe-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.recipe-link {
    text-decoration: none;
    color: #263B00;
    font-weight: bold;
}

.recipe-link:hover {
    text-decoration: none;
    color: #570000;
}

.card-title:hover {
    text-shadow: #768b45;
}

.masthead {
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page-heading {
    font-family: 'Rock Salt', sans-serif;
    color: #fff;
    font-size: 8.5em;
    text-align: center;
}

.post-heading h1 {
    font-family: 'Rock Salt', sans-serif;
    color: #fff;
}

.post-heading .meta {
    color: #fff;
}

.buttons a {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.comments {
    margin: 1.5% 10%;
}

.center {
    text-align: center;
}

.edit-button {
    background-color: #263B00;
    border-color: #263B00;
}

.edit-button:hover {
    background-color: #768b45;

}

.delete-button {
    background-color: #951F1D;
    border-color: #951F1D;
}

.delete-button:hover {
    background-color: #D85C4E;
}

.approve-button {
    background-color: #768b45;
    border-color: #768b45;
}

.approve-button:hover {
    background-color: #263B00;
}

.sub-btn {
    margin: 5px;
}

.page-link {
    color: #570000;
}

.page-link:hover {
    color: #263B00;
}

.social-links {
    color: #768b45;
}

.social-links:hover {
    color: #263B00;
}

.responsive-text {
    font-size: 3vw;
}
