<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-body">
            <div class="image-container">
                {% if "placeholder" in recipe.recipe_image.url %}
                <img class="recipe-image card-img-top" src="https://res.cloudinary.com/bubblecloud/image/upload/v1653858415/vegetables_uwmym1.webp" alt="Heap of sliced vegetables">
                {% else %}
                <img class="recipe-image card-img-top" src="{{ recipe.recipe_image.url }}" alt="{{ recipe.recipe_name }}">
                {% endif %}
            </div>
            <a href="{% url 'recipe_view' recipe.slug %}" class="recipe-link">
                <h2 class="card-title">{{ recipe.recipe_name }}</h2>
            </a>
            <p class="author">Recipe by: {{ recipe.author }}</p>
            <p class="card-text">{{ recipe.description |safe }} <!-- closing </p> removed as this throws an error in HTML Validator-->
            <hr>
            <p class="card-text text-muted h6">{{ recipe.added_on }} <i
                    class="far fa-heart"> </i> {{ recipe.number_of_likes }}</p>
        </div>
    </div>
</div>