
<!--SOCIAL MEDIA LINKS-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://facebook.com/" target="_blank" rel="'noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                        <span class="fa-stack fa-lg social-links grow">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://pinterest.com/" target="_blank" rel="'noopener"
                    aria-label="Find us on Pinterest (opens in a new tab)">
                        <span class="fa-stack fa-lg social-links grow">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-pinterest fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://instagram.com/" target="_blank" rel="'noopener"
                    aria-label="Check us out on Instagram (opens in a new tab">
                        <span class="fa-stack fa-lg social-links grow">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://youtube.com/" target="_blank" rel="'noopener"
                    aria-label="View our recipes on our Youtube Channel (opens in a new tab)">
                        <span class="fa-stack fa-lg social-links grow">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="small text-center text-muted fst-italic">Created for Education Purposes 2022</div>
        </div>
    </div>
</div>

</footer>