{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Page Header-->
<header class="masthead home-page-image" style="background-image: url('https://res.cloudinary.com/bubblecloud/image/upload/v1652537107/veganfood_zidihn.webp');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>HOLY SHIITAKE</h1>
                    <span class="subheading">A recipe sharing site for delicious plant-based, vegan friendly
                        food!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-8 offset-2">
        <h3 class="h3 display-2 text-center">Latest Recipes</h3>
        <hr>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <!-- Recipes -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}

                {% include 'includes/recipe_cards.html' with recipe=recipe %}

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
