{% extends "base.html" %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}

<!-- Page Header-->
{% if "placeholder" in recipe.recipe_image.url %}
<header class="masthead" style="background-image: url('{% static 'images/vegetables.jpg' %}');">
    {% else %}
    <header class="masthead" style="background-image: url('{{ recipe.recipe_image.url }}');">
        {% endif %}
        <div class="opaque-overlay">&nbsp;</div>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ recipe.recipe_name }}</h1>
                        <span class="meta">
                            Added by
                            {{ recipe.author }} | {{ recipe.added_on }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Recipe Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{ recipe.description | safe }}
                    <!-- Closing </p> tag removed due to summernote inserting automatically-->
                    <hr>
                    <h2>Ingredients</h2>
                    <p>{{ recipe.ingredients | safe}}
                    <!-- Closing </p> tag removed due to summernote inserting automatically-->
                    <hr>
                    <h2>Method</h2>
                    <p>{{ recipe.method | safe }}
                    <!-- Closing </p> tag removed due to summernote inserting automatically-->
                    <div class="row inline-block">
                    <div class="col-1 inline">
                    <!--LIKES-->
                    <!--Allows user to like recipes if logged in-->
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}"
                        method="POST">
                        {% csrf_token %}
                        {% if liked %}

                            <button type="submit" name="recipe_id" value="{{ recipe.slug }}"
                                class="btn-like">
                                <i class="fas fa-heart"></i>
                            </button>

                        {% else %}

                            <button type="submit" name="recipe_id" value="{{ recipe.slug }}"
                                class="btn-like">
                                <i class="far fa-heart"> </i>
                            </button>

                        {% endif %}
                    </form>
                    {% else %}

                    <span class="text-secondary"><i class="far fa-heart"> </i></span>
                    {% endif %}
                    <span class="text-secondary"> {{ recipe.number_of_likes }}</span>

                    <div class="col-1 inline comments">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary">
                            <i class="far fa-comments"> </i> {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                    </div>

                    <!--Shows edit and delete buttons if user is logged in and recipe belongs to user-->
                    {% if user.is_authenticated and user.id == recipe.author.id %}
                        <div class="buttons">
                            <a class="btn btn-success edit-button"
                                href="{% url 'update_recipe' recipe.slug %}" role="button">Edit</a>
                            <a class="btn btn-danger delete-button"
                                href="{% url 'delete_recipe' recipe.slug %}" role="button">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>

    <div class="row comments">
        <div class="col-md-12 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                <!--Lists all comments beneath recipe-->
                {% for comment in comments %}
                <div>
                    <p>
                        <strong>{{ comment.name }}</strong>
                        <span class="text-muted font-weight-nrmal">
                            {{ comment.added_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row comments">
        <div class="col-md-12 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Thanks {{ user.username }}, your comment is awaiting approval
                </div>
                {% else %}
                <!--Allows user to comment if logged in-->
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success edit-button btn-lg sub-btn">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}