{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="row">
    <div class="col-8 offset-2">
        <h1 class="h3 display-2 text-center title">My Recipes</h1>
        <hr>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Recipes -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.recipe_image.url %}
                                <img class="recipe-image card-img-top"
                                    src="https://res.cloudinary.com/bubblecloud/image/upload/v1652285408/vegetables_r4syec.jpg"
                                    alt="Heap of sliced vegetables">
                                {% else %}
                                <img class="recipe-image card-img-top" src="{{ recipe.recipe_image.url }}" height="300"
                                    alt="{{ recipe.recipe_name }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'recipe_view' recipe.slug %}" class="recipe-link">
                                <h2 class="card-title">{{ recipe.recipe_name }}</h2>
                            </a>
                            <p class="card-text">{{ recipe.description |safe }}</p>
                            <hr>
                            <p class="card-text text-muted h6">{{ recipe.added_on }} <i class="far fa-heart"> </i>
                                {{ recipe.number_of_likes }}</p>

                            <!-- Edit & Delete Buttons -->
                            <a class="btn btn-primary edit-button" href="{% url 'update_recipe' recipe.slug %}"
                                role="button">Edit</a>
                            <a class="btn btn-danger delete-button" href="{% url 'delete_recipe' recipe.slug %}"
                            role="button">Delete</a>
                        </div> 
                    </div> 
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
